* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("/pics/i1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 18px;
}

.left img {
    width: 120px;
    /* filter:invert(100%) ; */
}

.left div {
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    font-weight: bold;
    font-size: 20px;
}

.mid {
    width: 40%;
    display: block;
    margin: 18px auto;
}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 18px;
}


.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-family: 'Baloo Bhai', cursive;
}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(139, 144, 130);
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    /* float: right; */
    /* border: 2px solid white; */
    margin: 500px 0px;
    padding: 40px;
    width: 33%;
    /* border-radius: 28px; */
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}